.cover {
	display: flex;
	justify-content: center;
	position: relative;
	background-color: black;
}
.cover img{
	width: 100%;
}
.cover__header {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 90%;
	top: 0;
	padding: 20px 15px 0 15px;
}
.cover__header__logo {
	display: flex;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 0.04em;
	color: #ffffff;
	text-shadow: 1px 1px 2px black;
}
.cover__header__buttons {
	display: flex;
	align-items: center;
	min-width: 175px;
}
.cover__header__buttons svg {
	margin-left: 20px;
	cursor: pointer;
}
.cover__header__buttons button {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.04em;
	color: #ffffff;
	background-color: #0aaee4;
	border: none;
	margin-left: 20px; 
	cursor: pointer;
	border-radius: 5px;
	padding: 6px 9px;
	box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.2);
	transition: 2s;
}
.cover__header__buttons button:hover {
	background-color: rgb(12, 113, 146);
}
.cover__info {
	display: flex;
	position: absolute;
	width: 90%;
	justify-content: space-between;
	bottom: 0;
	flex-wrap: wrap;
	padding-bottom: 5px;
}
.cover__info__title__title-movie {
	display: flex;
	color: aliceblue;
	font-size: 55px;
	font-weight: 700;
	text-shadow: 1px 1px 2px black;
}
.cover__info__title__categories {
	font-size: 20px;
	font-weight: 400;
	color: aliceblue;
	text-shadow: 1px 1px 2px black;
	word-spacing: 15px;
}
.cover__info__buttons {
	display: flex;
	align-items: center;
	min-width: 445px;
	flex-wrap: wrap;
}
.cover__info__buttons button {
	font-size: 20px;

	font-weight: 400;
	letter-spacing: 0.04em;
	color: #ffffff;
	background-color: #0aaee4;
	border: none;
	margin-left: 20px; 
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.2);
	transition: 2s;
	padding: 9px 9px;
}
.cover__info__buttons button:hover {
	background-color: rgb(12, 113, 146);
}
#favorite {
	background-color: rgba(34, 60, 80, 0);
}
#personalCabinet {
	display: none;
}
